.dark {
  
  color-scheme: dark;
  
  
  
  .btn-app { 
    display: none;
  }
  
  .light-vector {
    display: none;
  }
  
  .dark-vector {
    display: block;
  }
    
   .qa, .qa1, .qa2, .answer {
    box-shadow: none;
   } 
    
    #logo {
      display: none;
    }
    
    #logo-dark {
      display: block;
    }
    
    #app-link {
      display: none;
    }
    
    
    #dark-app {
      display: flex;
    }
    
    .app-link-dark {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
      @media (min-width: 768px) {
        flex-direction: row;
      }
      
      
    }
    
    
    
  }
  
  #dark-app {
    display: none;
    }