#how {
    background-color: var(--clr-bg-100);
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  
    .container {
      @include how-display;
    }
  
    h2 {
      font-weight: 800px;
    }
  }
  
  .container-iphone {
  
  
   @media (min-width: 768px) {
      display:flex;
      
   }
  
   @media (min-width: 1400px) {
    gap: 5rem;
   }
  
  }
  
  .how-mobile {
    @media (min-width: 768px) {
      display:none;
   }
  }
  
  .how-tablet {
   display: none;
  
   @media (min-width: 768px) {
    display:block;
  }
  
  @media (min-width: 1400px) {
    display:none;
  }
  
  }
  
  .how-desktop {
   display: none;
  
   @media (min-width: 1400px) {
    display:block;
    display: flex;
  
  }
  }
  
  .transfer-1 {
    @media (min-width: 768px) {
      display:none;
   }
  }
  
  .transfer-2 {
    display: none;
  
    @media (min-width: 768px) {
      display:block;
   }
    @media (min-width: 1400px) {
      display:none;
   }
  }
  
  .transfer-3 {
    display: none;
    
   
    @media (min-width: 1400px) {
      display:block;
   }
  
  }