#partners {
    display: none;
    padding-top: 3rem;
    padding-bottom: 2rem;
    
    .container {
      @include partner-display;
    }
  }
  
  .brand-box {
    border: 1px solid var(--color-gray3);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }