.container {
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1400px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 1320px;
  }
}

.btn-dark {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  border: 0;
}
.btn-dark:hover {
  background-color: var(--color-gray5);
  color: var(--color-white);
  text-decoration: none;
}



